:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-gray: #d6d6d6;
    --text-input-field: #f7f7f7;
    --hospital-purple: #5e37d1;
    --yellow: #ffbe1a;
    --dark-blue: #002337;
    --diameter: 300px;
    --height: calc(calc(var(--diameter) / 2));
    --size-button-4: calc(2 * var(--height) * 0.41);
    --size-button-5: calc(2 * var(--height) * 0.371);
    --size-button-1: var(--diameter)
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: var(--white);
}

.inactive {
    background-color: var(--dark-gray);
}

.inactive2 {
    display: none;
  }

/*HEADER*/

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: var(--dark-blue);
}

.logo-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.logo {
    width: 180px;
    height: 52px;
    margin-left: 20px;
    font-size: var(--lg);
    color: var(--white);
    display: grid;
    place-items: center;
}

.header-logo {
    width: 100%;
    height: 80%;
}

.small-logo {
    display: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.buttons2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.primary-button {
    background-color: var(--hospital-purple);
    border: none;
    border-radius: 25px;
    color: var(--white);
    width: 120px;
    cursor: pointer;
    font-size: 15px;
    height: 36px;
    z-index: 100;
}

.signup-button {
    font-weight: bold;
}

.signup-button:hover {
    background-color: var(--yellow);
    color: var(--dark-blue);
}


.login-button{
    margin: 0;
    padding: 0;
}

.login-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.icon-menu {
    border: none;
    background-color: var(--very-light-gray);
    display: none;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 10px;
}

.icon-menu-img {
    width: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}



.circle-2 {
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--very-light-gray);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    border: 1px var(--dark-blue) solid;
}

h1 {
    margin: 0;
    text-align: center;
    color: var(--white)
}

.c-none {
    display: none;
}

.activity {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle {
    position: relative;
    width: var(--diameter);
    height: var(--diameter);
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
    border: 1px var(--dark-blue) solid;
    margin-bottom: 40px;
}

.button-options {
    width: 60px;
    height: 40px;
    background-color: var(--white);
    border: 1px solid var(--yellow);
    cursor: pointer;
    border-radius: 8px;
}

.button-4 {
    position: absolute;
    background-color: transparent;
    width: var(--size-button-4);
    height: var(--size-button-4);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    border: none;
}

.button-5 {
    position: absolute;
    background-color: transparent;
    width: var(--size-button-5);
    height: var(--size-button-5);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    border: none;
}

.secondary-button {
    background-color: var(--white);
    border: 1px solid var(--yellow);
    border-radius: 25px;
    color: var(--dark-blue);
    width: 120px;
    cursor: pointer;
    font-size: 15px;
    height: 36px;
}


/* DIVIDIDO EN 4*/

.cono-4 {
    position: absolute;
    width: 0;
    height: 0;
    border: solid;
    border-width: var(--height) var(--height) 0 var(--height);
    border-color: var(--white) transparent transparent transparent;
    transform-origin: bottom center;
}

.b4-uno {
    top: 0;
    left: calc(50% - calc(var(--size-button-4) / 2));
}

.b4-dos {
    top: calc(50% - calc(var(--size-button-4) / 2));
    right: 0;
}

.b4-tres {
    bottom: 0;
    left: calc(50% - calc(var(--size-button-4) / 2));
}

.b4-cuatro {
    top: calc(50% - calc(var(--size-button-4) / 2));
    left: 0;
}



.dos-4 {
    transform: rotate(90deg);
}

.tres-4 {
    transform: rotate(180deg);
}

.cuatro-4 {
    transform: rotate(270deg);
}

.color-cono {
    border-color: var(--yellow) transparent transparent transparent;
}

.color-white {
    background-color: var(--white);
}

.color-yellow {
    background-color: var(--yellow);
}

.line {
    position: absolute;
    top: calc(50% - 0.5px);
    width: var(--height);
    height: 0.5px;
    background-color: var(--dark-blue);
    transform-origin: bottom right;
}

.l4-1 {
    transform: rotate(135deg);
}

.l4-2 {
    transform: rotate(225deg);
}

.l4-3 {
    transform: rotate(315deg);
}

.l4-4 {
    transform: rotate(405deg);
}


/**DIVIDIDO EN 5*/

.cono-5 {
    position: absolute;
    width: 0;
    height: 0;
    border: solid;
    border-width: var(--height) calc(0.7265 * var(--height)) 0 calc(0.7265 * var(--height));
    border-color: var(--white) transparent transparent transparent;
    transform-origin: bottom center;
}

/*formula (0.67 * mitad del lado del cuadro * (1 - sen(x)) o cos(x)*/
.b5-uno {
    top: calc(0.63 * var(--height) * (1 - 1));
    right: calc(0.63 * var(--height) * (1 - 0));
}

.b5-dos {
    top: calc(0.63 * var(--height) * (1 - 0.31));
    right: calc(0.63 * var(--height) * (1 - 0.95));
}

.b5-tres {
    bottom: calc(0.63 * var(--height) * (1 - 0.81));
    right: calc(0.63 * var(--height) * (1 - 0.58));
}

.b5-cuatro {
    bottom: calc(0.63 * var(--height) * (1 - 0.81));
    left: calc(0.63 * var(--height) * (1 - 0.58));
}

.b5-cinco {
    top: calc(0.63 * var(--height) * (1 - 0.30));
    left: calc(0.63 * var(--height) * (1 - 0.95));
}

.uno-5,
.dos-5,
.tres-5,
.cuatro-5,
.cinco-5 {
    left: calc(50% - calc(var(--height) * 0.7265));
}

.dos-5 {
    transform: rotate(72deg);
}

.tres-5 {
    transform: rotate(144deg);
}

.cuatro-5 {
    transform: rotate(216deg);
}

.cinco-5 {
    transform: rotate(288deg);
}

.color-cono {
    border-color: var(--yellow) transparent transparent transparent;
}

.line {
    position: absolute;
    top: calc(50% - 0.5px);
    width: var(--height);
    height: 0.5px;
    background-color: var(--dark-blue);
    transform-origin: bottom right;
}

.l5-1 {
    transform: rotate(126deg);
}

.l5-2 {
    transform: rotate(198deg);
}

.l5-3 {
    transform: rotate(270deg);
}

.l5-4 {
    transform: rotate(342deg);
}

.l5-5 {
    transform: rotate(414deg);
}

/**DIVIDIDO EN 1*/

.b1-uno {
    border: 2px solid var(--dark-blue);
    cursor: pointer;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    padding: 0;
}

/**DIVIDIDO EN 2*/

.bottom-2 {
    position: absolute;
    width: calc(var(--diameter) / 2);
    height: var(--diameter);
    border: none;
    cursor: pointer;
}

.b-1d {
    left: 0;
}

.b-2d {
    right: 0;
}

.l2 {
    width: var(--diameter);
    transform-origin: center center;
    transform: rotate(90deg);
}

h3 {
    text-align: center;
}


/*pup-up*/

.pop-up {
    position: absolute;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(49, 49, 49, 0.411);
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: auto;
}

.pop-up-content {
    width: 200px;
    background: var(--hospital-purple);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}

.button-pop {
    margin: 10px;

}

.pop-up-content p {
    color: var(--white);
}

.b-ok {
    margin-bottom: 40px;
}


.math-equation {
    font-size: 24px;
    color: var(--black); /* Cambiar el color de la ecuación */
  }

.pop-up2 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(49, 49, 49, 0.411);
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: auto;
}

.pop-up-content2 {
    width: 300px;
    height: 200px;
    background: var(--white);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}

.popdis {
    display: flex;
}


@media (max-width: 450px) {
    .activity {
        margin-top: 20px;
    }

    h2,
    h3 {
        width: 80%;
        text-align: center;
    }
}