:root {
    --white: #ffffff;
    --black: #000000;
    --very-light-gray: #f6f7f9;
    --text-input-field: #f7f7f7;
    --hospital-purple: #5e37d1;
    --yellow: #ffbe1a;
    --dark-blue: #002337;
    --diameter: 400px;
    --height: calc(calc(var(--diameter) / 2) );
    --size-button: calc(2 * var(--height) * 0.41);
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Zen Maru Gothic", sans-serif;
    background-color: var(--white);
}

.inactive {
    background-color: var(--dark-gray);
}

.circle-2 {
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--very-light-gray);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    border: 1px var(--dark-blue) solid;
}

.c-none {
    display: none;
}

.activity {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle {
    position: relative;
    width: var(--diameter);
    height: var(--diameter);
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
    border: 1px var(--dark-blue) solid;
}

.blue-color {
    background-color: var(--dark-blue);
}

.yellow-color {
    background-color: var(--yellow);
}

.purple-color {
    background-color: var(--hospital-purple);
}

.black-color {
    background-color: var(--black);
}

.button-options {
    width: 60px;
    height: 40px;
    background-color: var(--white);
    border: 1px solid var(--yellow);
    cursor: pointer;
    border-radius: 8px;
}

.cono {
    position: absolute;
    width: 0;
    height: 0;
    border: solid;
    border-width: var(--height) var(--height) 0 var(--height);
    border-color: var(--white) transparent transparent transparent;
    transform-origin: bottom center;
}

.button {
    position: absolute;
    background-color: transparent;
    width: var(--size-button);
    height: var(--size-button);
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    border: none;
}

.b-uno {
    top: 0;
    left: calc(50% - calc(var(--size-button) / 2 ) );
}

.b-dos {
    top: calc(50% - calc(var(--size-button) / 2 ) );
    right: 0;
}

.b-tres {
    bottom: 0;
    left: calc(50% - calc(var(--size-button) / 2 ) );
}

.b-cuatro {
    top: calc(50% - calc(var(--size-button) / 2 ) );
    left: 0;
}



.dos {
    transform: rotate(90deg);
}

.tres {
    transform: rotate(180deg);
}

.cuatro {
    transform: rotate(270deg);
}

.color-cono {
    border-color: var(--yellow) transparent transparent transparent;
}

.line {
    position: absolute;
    top: calc(50% - 0.5px);
    width: var(--height);
    height: 0.5px;
    background-color: var(--dark-blue);
    transform-origin: bottom right;
}

.l-1 {
transform: rotate(135deg);
}

.l-2 {
transform: rotate(225deg);
}

.l-3 {
transform: rotate(315deg);
}

.l-4 {
transform: rotate(405deg);
}

@media (max-width: 450px) {
    .activity {
        margin-top: 40%;
    }
}