h1 {
  color: #9103e9;
  top: 1%;
  transform: translateY(10%)
}



.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #9103e9;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.black-ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;
  height: 80px;
}


body, 
section {
  margin-top: 0;
  margin-left: 4cm;
  margin: 80;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 1;
  left: 0;
  margin-left: 1cm;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.menu li {
    position: relative;
    float: left;
    margin: 0 2%;
    width: auto;
    text-align: center;
    height: 100%;
    white-space: nowrap;
}
  
.menu li a {
  position: relative;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 25px;
  font-size: 22px;
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.5s;
  word-wrap: break-word;
}

.menu li a:hover {
  color: rgb(46, 190, 2);
}

.menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%; 
  transform: translateX(-50%); 
  background-color: black;
  width: 6cm;
}
  

.menu li ul li {
  position: relative;
  clear: both;
  top: 20px;
  padding: 0px 20px;
  font-size: 22px;
  text-align: center;
  height: 80px;
}

.menu li:hover ul {
  display: block;
 }

.menu ul a:hover {
  color: aqua;
  transition: color 0.5s;
}

.menu li ul li a {
  display: flex;
  text-align: left;
}