.header {
  position: relative;
  display: flex;
  align-items: center;
  top: -20px;
}

.header h1 {
  position: relative;
  color: purple;
  margin-right: 20px;
  font-size: 35px;
  top: -10px;
}

.menu {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30px;
  right: 600px;
  justify-content: space-between;
}

.menu-item {
  position: relative;
  margin-right: 10px;
  font-size: 18px;
}

.login {
  position: absolute;
  top: 30px;
  right: 180px;
}

.botton-new {
  position: absolute;
  top: 23px;
  right: 25px;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: black;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.link2 {
  background: none;
  border: none;
  text-decoration: none;
  color: rgb(95, 95, 95);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

.dropdown.active>.link2,
.link2:hover {
  color: orange;
}

.dropdown.active>.link,
.link:hover {
  color: rgb(216, 4, 216);
}

.dropdown {
  position: relative;
  margin-right: 10px;
  font-size: 20px;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.5rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 black;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active>.link+.dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-heading {
  color: black;
  font-size: 20px;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
}

.button-60 {
  align-items: center;
  appearance: none;
  background-color: #9619b921;
  border: 1px solid #dbdbdb;
  border-radius: 0.375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 2.2em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #9103e9;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, 0.25) 0 0 0 0.125em;
}

.login-form>input {
  margin-bottom: 1rem;
}
