/* secciones */

/* body */

:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-gray:#f6f7f9;
  --text-input-field: #F7F7F7;
  --hospital-purple: #5e37d1;
  --yellow : #ffbe1a;
  --dark-blue: #002337;
  --sm: 12px;
  --md: 13px;
  --lg: 16px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: var(--very-light-gray);
}

/*HEADER*/

/* HEADER */
header {
  display: flex;
  align-items: center;
  top: 0;
  margin: 0;
  padding: 0;
  height: 52px;
  justify-content: space-around;
}


/*HEADER*/

header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  height: 52px;
  margin-left: 120px;
  font-size: var(--lg);
  color: var(--white);
  display: grid;
  place-items: center;
}

.header-logo {
  width: 100%;
  height: 80%;
}

.menu {
  width: 460px;
  height: 52px;
  display: flex;
  place-items: center;
  justify-content: space-around;
}

.options {
  font-size: var(--lg);
  color: var(--dark-blue);
  text-decoration: none;
}

.buttons {
  display: flex;
  width: 252px;
  align-items: center;
  justify-content: space-between;
  margin-right: 120px;
}

.primary-button {
  background-color: var(--hospital-purple);
  border: none;
  border-radius: 25px;
  color: var(--white);
  width: 120px;
  cursor: pointer;
  font-size: 15px;
  height: 36px;
  z-index: 100;
}

.signup-button {
  font-weight: bold;
}

.secondary-button {
  background-color: var(--white);
  border: 1px solid var(--hospital-purple);
  border-radius: 25px;
  color: var(--hospital-purple);
  width: 120px;
  cursor: pointer;
  font-size: 15px;
  height: 36px;
}


.login-button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

/*NOTICIAS*/

.news {
  position: relative;
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.news-text {
  width: 420px;
  height: 432px;
  padding-top: 100px;
  margin-bottom: 2px;
  z-index: 100;
}

.h2-news {
  margin: 0;
  color: var(--yellow);
  font-size: 60px;
}

.p-news {
  margin: 0;
  color: var(--white);
  font-size: 20px;
  font-weight: 1px;
}

.news-button {
  margin-top: 32px;
  background-color: var(--dark-blue);
}

.news-button:hover {
  background-color: var(--yellow);
  color: var(--dark-blue);
}

.news-img {
  width: 420px;
  height: 540px;
  margin-right: 4px;
  margin-left: 100px;
  z-index: 100
}

.banner-woman {
  width: 420px;
  padding-top: 44px;
}

/*APRENDER-MATERIAS*/

.learn {
  width: 100%;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 12px;
  margin-bottom: 40px;
}

.title-learn {
  color: var(--yellow);
  font-size: 48px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subjects-learn {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.subjects {
  width: 100px;
  font-size: var(--lg);
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subjects-img {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}

.p-learn {
  color: var(--dark-blue);
  font-size: 18px;
}

.learn-img {
  width: 90px;
  height: 90px;
}

#img1:hover + #img2 {
  display: inline-block;
}

#img2 {
  display: none;
}

.test-button {
  background-color: var(--hospital-purple);
  width: 140px;
  height: 52px;
  font-size: var(--lg);
  color: var(--white);
  display: grid;
  place-items: center;
}

/*MANCHA 1*/

.mancha-1 {
  position: absolute;
  top: 840px; /* Ajusta la posición vertical según tu necesidad */
  left: calc(98% + 10px); /* Ajusta la posición horizontal según tu necesidad */
  transform: translateX(-50%); /* Centra la imagen horizontalmente */
  width: 160px;
  max-width: 100%;
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
}

/*ACOMPAÑAMIENTO*/

.followup {
  width: 100%;
  height: 412px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.text-button {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  margin-right: 120px;
}

.followup-text {
  width: 500px;
  height: 300px;
  color: var(--white);
}

#followup-button {
  margin: 0;
}

.h2-followup {
  color: var(--hospital-purple);
  font-size: 40px;
}

.p-followup {
  color: var(--dark-blue);
}

.followup-img {
  width: 400px;
  height: 392px;
  color: var(--white);
  display: grid;
  place-items: center;
  margin-top: 4px;
}

.seguimiento-img {
  width: 360px;
}

/*MANCHA 2*/

.mancha-2 {
  position: absolute;
  top: 1280px; /* Ajusta la posición vertical según tu necesidad */
  left: 1%; /* Ajusta la posición horizontal según tu necesidad */
  transform: translateX(-50%); /* Centra la imagen horizontalmente */
  width: 300px;
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
}

/*HISTORIAS DE USUARIOS*/

.stories-section {
  background-color: var(--white);
  width: 100%;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2-story {
  color: var(--yellow);
  font-size: 44px;
  margin-bottom: 0;
}

.p-testimonio {
  width: 600px;
  color: var(--dark-blue);
  font-size: 20px;
  margin-bottom: 44px;
  text-align: center;
}

.stories {
  width: 100%;
  height: 400px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  pointer-events: all;
}

.story {
  position: relative;
  width: 300px;
  height: 380px;
  margin-left: 40px;
  margin-right: 40px;
  display: grid;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.img-story {
  position: absolute;
  top: 0;
  right: 27%;
  width: 140px;
}

.square-story {
  height: 320px;
  border: 1px solid var(--hospital-purple);
  border-radius: 10%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h3-story {
  color: var(--hospital-purple);
  font-size: 20px;
  margin-top: 80px;
  margin-bottom: 0;
}

.p-details {
  display: block;
  margin: 0;
  color: var(--dark-blue);
  font-size: 12px;
}

.p-story {
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--dark-blue);
  font-size: 20px;
  text-align: center;
}

/*MANCHA 3*/

.mancha-3 {
  position: absolute;
  z-index: 100;
  top: 2098px; /* Ajusta la posición vertical según tu necesidad */
  left: calc(98% + 10px); /* Ajusta la posición horizontal según tu necesidad */
  transform: translateX(-50%); /* Centra la imagen horizontalmente */
  width: 240px;
  max-width: 100%;
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
}

/*PRECIOS*/

.prices-section {
  position: relative;
  width: 100%;
  height: 600px;
}

.prices-img {
  width: 100%;
  height: 600px;
}

.prices-div {
  z-index: 100;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.prices-box {
  width: 264px;
  height: 440px;
}

.box-border {
  position: relative;
  width: 99.2%;
  height: 360px;
  margin-top: 0;
  border: 1px solid var(--white); 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-border {
  position: absolute;
  background-color: var(--dark-blue);
  bottom: 0;
  width: 164px;
  height: 48px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.detail-price {
  display: flex;
  flex-direction: row;
  place-items: center;
  width: 220px;
}

.chulito {
  width: 20px;
  height: 16px;
  margin-right: 8px;
}

.p-chulito {
  color: var(--white);
  font-size: 15px;
  margin-top: 3px;
}

.buy-button {
  margin-top: 0;
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--white); 
  background-color: var(--white);
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.h2-price {
  color: var(--yellow);
  font-size: 36px;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: var(--yellow);
  color: var(--dark-blue);
}

/*MANCHA-4*/

.mancha-4 {
  position: absolute;
  z-index: 99;
  top: 2596px; /* Ajusta la posición vertical según tu necesidad */
  left: 2%; /* Ajusta la posición horizontal según tu necesidad */
  transform: translateX(-50%); /* Centra la imagen horizontalmente */
  width: 200px;
  max-width: 100%;
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
}

/*FOOTER*/

footer {
  background-color: var(--dark-blue);
  width: 100%;
  height: 54px;
}


/*MEDIA QUERIES*/

@media (max-width:1360px) {

  .prices-section {
      justify-content: space-between;
  }

  .prices-box {
      margin-left: 30px;
      margin-right: 30px;
  }

}

@media (max-width:1220px) {

  .news-text {
      width: calc(100% - 8px);
      height: calc(100% - 4px);
      display: grid;
      place-items: center;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 2px;
      margin-bottom: 2px;
  }
  
  .news-img {
      width: calc(100% - 8px);
      height: calc(100% - 4px);
      display: grid;
      place-items: center;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 2px;
      margin-bottom: 2px;
  }

  .text-button {
      width: calc(50% - 8px);
      height: calc(100% - 4px);
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 2px;
      margin-bottom: 2px;
  }

  .followup-text {
      width: calc(100% - 8px);
      height: calc(100% - 4px);
      display: grid;
      place-items: center;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 2px;
      margin-bottom: 2px;
  }
  
  .followup-img {
      width: calc(50% - 8px);
      height: calc(100% - 4px);
      display: grid;
      place-items: center;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 2px;
      margin-bottom: 2px;
  }
}

@media (max-width: 1190px) {

  .subjects-learn {
      justify-content: space-between;
  }

  .subjects {
      margin-left: 30px;
      margin-right: 30px;
  }

}

@media (max-width: 1090px) {

  .stories {
      justify-content: space-between;
  }

  .story {
      margin-left: 30px;
      margin-right: 30px;
  }

}

@media (max-width: 800px) {

  .signup-button {
      display: none;
  }

  .buttons {
      justify-content: flex-end;
  }

  .menu {
      display: none;
  }

  .news {
      width: 100%;
      height: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }

  .news-img {
      width: 360px;
      height: calc(100% - 4px);
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 1;
  }

  .news-text {
      width: 360px;
      height: calc(100% - 4px);
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 2;
  }

  .followup {
      width: 100%;
      height: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }

  .followup-img {
      width: 360px;
      height: 206px;
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 1;
  }

  .text-button {
      width: 360px;
      height: 206px;
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 2;
  }

}

@media (max-width: 360px) {

  .news {
      width: 100%;
      height: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }

  .news-img {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 1;
  }

  .news-text {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 2;
  }

  .followup {
      width: 100%;
      height: 440px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }

  .followup-img {
      width: calc(100% - 4px);
      height: 206px;
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 1;
  }

  .text-button {
      width: calc(100% - 4px);
      height: 206px;
      color: var(--white);
      margin-top: 2px;
      margin-bottom: 2px;
      order: 2;
  }

  .story-h2 {
      width: calc(100% - 4px);
      
  }

}

