/* body */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-gray:#f6f7f9;
    --text-input-field: #F7F7F7;
    --hospital-purple: #5e37d1;
    --yellow : #ffbe1a;
    --dark-blue: #002337;
    --sm: 12px;
    --md: 13px;
    --lg: 16px;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: var(--very-light-gray);
  }

/*  clases */

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: start;
    margin-bottom: 22px;
}

.form,
.form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.input-name,
.input-email,
.input-password {
  margin-bottom: 22px;
}

.primary-button {
    background-color: var(--hospital-purple);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

/*MANCHA 3*/

.third-container {
    position: absolute;
    top: 460px; 
    right: 0; 
    width: 236px;
    height: 200px;
    overflow: hidden;
    z-index: -1;
  }
  
  .mancha-3 {
    object-fit: cover;
    width: 320px;
    padding-left: 20px;
    padding-bottom: 200px;
  }

  /*MANCHA-4*/

.fourth-container {
    position: absolute;
    width: 160px;
    height: 204px;
    overflow: hidden; 
    top: 80px;
    left: 0; 
    z-index: -1;
  }
  
  .mancha-4 {
    object-fit: cover;
    transform: translateX(-35%); /* Centra la imagen horizontalmente */
    width: 240px;
  }


@media (max-width: 640px) {
    .logo {
        display: block;
    }

    .third-container {
        width: calc(100% - 414px);
      }
    
    .fourth-container {
      left: calc(100% - 640px);
    }

    .form-container {
      height: 100%;
    }
    
    .form {
      height: 100%;
      justify-content: space-between;
    }
}