:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-gray: #f6f7f9;
  --text-input-field: #f7f7f7;
  --hospital-purple: #5e37d1;
  --yellow: #ffbe1a;
  --dark-blue: #002337;
  --sm: 12px;
  --md: 13px;
  --lg: 16px;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Zen Maru Gothic", sans-serif;
  background-color: var(--white);
}

.mobile-menu {
  padding: 24px 24px 0 24px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: bold;
}

.mobile-menu ul {
  padding: 0;
  list-style: none;
  margin-top: 24px 0 0;
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.info-box {
  margin-top: 360px;
}

.email {
  font-size: 14px;
  font-weight: 300 !important;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--hospital-purple);
}

.sign-out {
  color: var(--hospital-purple) !important;
  font-size: 6;
}